  
<form class="container addPost">  
  <div class="form-group">
  <label for="post-title"><h3>Post Title: </h3></label>
    <input class="form-input" type="text" id="post-title" />
  </div>
  <div class="form-group">
    <label for="post-content"><h3>Post Content: </h3></label>
    <textarea class="form-control" id="post-content" rows="5"></textarea>
  </div>
  <div class="pt-2 flex-row justify-center">
    <button type="submit" class="btn add-new">ADD POST</button>
  </div>
</form>