<div class="container text-center">
  <h2>Update or Delete Your Post!</h2>
</div>
<form id="updatePost" class="container">  
  <div class="form-group">
  <label for="post-title"><h3>Post Title: </h3></label>
    <input class="form-input" type="text" id="update-title" name="title" value="{{post.title}}">
  </div>
  <div class="form-group">
    <label for="post-content"><h3>Post Content: </h3></label>
    <textarea class="form-input" id="update-content" rows="5" name="content">{{post.content}}</textarea>
  </div>
  <div class="pt-2 flex-row justify-space-between">
    <button type="submit" class="btn add-new">UPDATE POST</button>
    <button type="submit" data-id="{{id}}" class="btn bg-danger text-white" id="deletePost">DELETE POST</button>
  </div>
</form>

{{#if loggedIn}}
  <script src="/js/updatePost.js"></script> 
{{/if}}   
