    <section class="container p-3">
        <div class="media">
            <div class="media-body content-post m-0">
              <h2 class="p-4">{{Title}}</h2>
              <h4>{{Content}}</h4>
              <h6 class="mt-0">{{username}}</h6>
            </div>
          </div>
    </section>