{{#each posts as |post|}}
    {{> post-info post}}
{{else}}
<section class="container">
    <div class="flex-row justify-center">
        <img src="/images/tech-blog.jpeg" alt="">
    </div>
</section>
{{/each}}
