/* Variable Colors Used */
:root {
  --purple: rgb(65, 3, 65);
  --lightpurple: rgb(218, 162, 218);
  --black: black;
  --white: white;
  --teal: teal;
  --gray: gray;
}

/* Universal Selector */
* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.card-title {
  font-weight: bold;
}

.post-info a:link {
  text-decoration: none;
  color: var(--black);
}

.post-info a:visited {
  text-decoration: none;
  color: var(--black);
}

.post-info {
  text-decoration: none;
  color: var(--black);
  text-align: center;
  background-color: whitesmoke;
  border: 5px solid var(--black);
}

.add-new {
  color: var(--black);
}

.welcome {
  font-weight: bold;
  font-size: 2rem;
}

button a:link {
  text-decoration: none;
  color: var(--black);
}

button a:visited {
  text-decoration: none;
  color: var(--black);
}

button a:hover {
  text-decoration: none;
  color: var(--black);
}

button a:active {
  text-decoration: none;
  color: var(--black);
}

body {
  background-color: var(--black);
  color: var(--white);
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: var(--black);
  position: fixed;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #links {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: var(--white);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: var(--black);
  color: var(--white);
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 2.25rem;
}

/* Nav Bar Fixed to the Top of Page */
.fixed {
  margin: auto;
  width: 100%;
}

#links {
  color: var(--purple);
}

/* Navigation Menu Display and Font */
.nav_links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 28px;
  font-weight: bolder;
  list-style: none;
}

/* Link Decorations */
a:link {
  color: var(--white);
  text-shadow: 1px var(--purple);
  font-size: bolder;
}

/* Link Visited Decorations */
a:visited {
  color: var(--white);
  text-shadow: 1px var(--white);
}

/* Link Hover Decorations */
a:hover {
  color: var(--purple);
  font-size: bolder;
}

/* Link Active Decorations */
a:active {
  color: var(--purple);
  text-shadow: 1px var(--white);
}

.jumbotron {
  background-color: var(--purple);
}

.content-post {
  text-align: center;
}
